body {
    font-family: 'Sofia Sans', sans-serif;
}

/* ### UITILITY ### */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* ### FORM ### */
.contact-form form {
    position: relative;
    overflow-x: hidden;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: .2em;
    margin-bottom: 1em;
}

.form-group.surname {
    position: absolute;
    top: -300px;
}